@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

:root {
  /* Colors */
  --bg-color-light: #ffffff;

  /* Buttons */
  --bg-button-light: #f7f7f7;

  /* Fonts */
  --color-font-light: #181818;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color-light);
}

body {
  max-width: 600px;
  height: 100vh;
  margin: auto;
  font-family: 'Cabin', sans-serif;
  color: var(--color-font-light);
}

@media screen and (max-width: 768px) {
  body {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 300px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
